<div class="btn-group"  role="group" aria-label="Basic radio toggle button group">
    <input value="0"  type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
    <label (click)="checkedvalue(0)" class="btn btn-outline-primary" for="btnradio1">Latest</label>
  
    <input value="1" type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
    <label (click)="checkedvalue(1)" class="btn btn-outline-primary" for="btnradio2">Features</label>
  
    <input value="2" type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
    <label (click)="checkedvalue(2)" class="btn btn-outline-primary" for="btnradio3">Following</label>

    <input value="3" type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
    <label (click)="checkedvalue(3)" class="btn btn-outline-primary" for="btnradio4">Today</label>

    <input value="4" type="radio" class="btn-check" name="btnradio" id="btnradio5" autocomplete="off">
    <label (click)="checkedvalue(4)" class="btn btn-outline-primary" for="btnradio5">Hot</label>
  </div>